.btn {
  display: inline-flex;
  gap: 0.75em;
  padding: 0.25em 1em;
  margin-inline: auto;
  background-color: var(--btn-bg, var(--purple));
  color: var(--btn-text, var(--white));
  text-transform: uppercase;
  filter: drop-shadow(0.15em 0.15em 0 var(--text));
  transform: skewX(-15deg);
  font-style: italic;
  transition: filter var(--duration) var(--transition);
  will-change: filter;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  filter: drop-shadow(0.25em 0.25em 0 var(--yellow-2));
}

.btn span {
  font-weight: 700;
  transform: skewX(15deg);
}

.btn span:last-child {
  width: 0.75em;
  margin-right: 0.5em;
  position: relative;
  transition: margin 500ms;
  will-change: margin;
}

.arrows {
  width: 2em;
  height: 0.875em;
}

.arrows path {
  transition: transform var(--duration) var(--transition);
  will-change: transform;
}

.arrows path:nth-child(1) {
  --time: 200ms;
  transition-duration: calc(0.8 * var(--duration));
  transform: translateX(-60%);
}

.arrows path:nth-child(2) {
  --time: 400ms;
  transform: translateX(-30%);
}

.btn:hover span:last-child {
  margin: auto 1em auto 0.75em;
}

.btn:hover path {
  transform: translateX(0);
  fill: var(--yellow-2);
}

:global(.no-preference) .btn:hover path {
  animation: colour_anim 1s infinite calc(-1 * var(--time, 600ms));
}

@keyframes colour_anim {
  0% {
    fill: currentColor;
  }
  50% {
    fill: var(--yellow-2);
  }
  100% {
    fill: currentColor;
  }
}
