.btn {
  position: relative;
  display: flex;
  width: max-content;
  margin-inline: auto;
  gap: 0.75em;
  padding: 0.25em 1em;
  background-color: var(--btn-bg, var(--purple));
  color: var(--btn-text, var(--white));
  text-transform: uppercase;
  transform: skewX(-15deg);
  font-style: italic;
  text-decoration: none;
}

.btn::before,
.btn::after {
  content: '';
  position: absolute;
  background-color: var(--text);
  transform-origin: top left;
  /* transition: transform var(--duration) var(--transition), background-color var(--duration) var(--transition); */
  transition: transform var(--duration) var(--transition);
}

.btn::before {
  inset: 100% -0.25rem -0.25rem 0.25rem;
}

.btn::after {
  inset: 0.25rem -0.25rem -0.25rem 100%;
}

.btn:hover::before {
  background-color: var(--yellow-2);
  transform: translateX(0.2rem) scaleY(180%);
}

.btn:hover::after {
  background-color: var(--yellow-2);
  transform: translateY(0.2rem) scaleX(180%);
}

.btn span {
  font-weight: 700;
  transform: skewX(15deg);
}

.btn span:last-child {
  width: 0.75em;
  margin-right: 0.5em;
  position: relative;
  transition: margin var(--duration) var(--transition);
}

.arrows {
  width: 2em;
  height: 0.875em;
}

.arrows path {
  transition: transform var(--duration) var(--transition);
}

.arrows path:nth-child(1) {
  --time: 200ms;
  transition-duration: calc(0.8 * var(--duration));
  transform: translateX(-60%);
}

.arrows path:nth-child(2) {
  --time: 400ms;
  transform: translateX(-30%);
}

.btn:hover span:last-child {
  margin: auto 1em auto 0.75em;
}

.btn:hover path {
  transform: translateX(0);
  fill: var(--yellow-2);
}

:global(.no-preference) .btn:hover path {
  animation: colour_anim calc(3 * var(--duration)) infinite calc(-1 * var(--time, 600ms));
}

@keyframes colour_anim {
  0% {
    fill: currentColor;
  }
  50% {
    fill: var(--yellow-2);
  }
  100% {
    fill: currentColor;
  }
}
