/* Classes to compose */
.svg-transition-opacity {
  transition: opacity calc(var(--mult, 1) * var(--duration)) var(--transition);
}

.svg-transition-transform {
  transition: transform calc(var(--mult, 3) * var(--duration)) var(--transition) var(--delay, 0ms);
}

:global(.reduce-motion) .svg-transition-opacity,
:global(.reduce-motion) .svg-transition-transform {
  --duration: 0;
}

/* Svg related classes */
.svgScene {
  --cow-helmet: hsla(0, 0%, 67%, 0.2);
  --cow-pink: hsl(9, 68%, 62%);
  --cow-yellow: hsl(40, 62%, 58%);
  --skin: hsl(29, 100%, 89%);
  --grey-hc: hsl(230, 21%, 73%);
  --grey-bc: hsl(226, 21%, 63%);
  --grey-shadow: hsl(227, 11%, 75%);
  --grey-mb: hsl(226, 21%, 88%);
  --grey-dc: hsl(229, 12%, 82%);

  overflow: visible;
}

.heroSvg {
  composes: svgScene;
  width: min(100%, 40rem);
}

.footerSvg {
  composes: svgScene;
  width: min(160vw, 110rem);
  margin-left: 10%;
  flex: 1 0 auto;
}

/* Sun related classes */
.sun {
  composes: svg-transition-transform;
  filter: drop-shadow(0 0 1rem var(--yellow-1));
}

.heroSun,
.footerSun {
  composes: sun;
}

.heroSun {
  transform-origin: 68% 18%;
}

:global(.dark) .heroSun {
  transform: scale(0.33) rotate(-90deg);
}

:global(.light) .footerSun {
  transform: scale(0.33) translateX(30%);
}

/* Earth related classes */
.earthWrapper {
  composes: svg-transition-transform;
  transform-origin: 22% 0%;
}

:global(.dark) .earthWrapper {
  transform: scale(0.33) rotate(90deg);
}

.earth {
  composes: svg-transition-transform;
}

.earth > path {
  fill: var(--green);
}

.earth > path:first-child {
  fill: var(--blue);
}

.heroEarth,
.footerEarth {
  composes: earth;
}

:global(.dark) .heroEarth,
:global(.dark) .heroRotatingCloudWrapper {
  transform: rotate(-90deg);
}

:global(.light) .footerEarth {
  transform: translateX(10%) rotate(35deg);
}

.heroEarth {
  transform-origin: center;
}

.footerEarth {
  transform-origin: bottom;
}

.heroRotatingCloudWrapper {
  composes: svg-transition-transform;
  transform-origin: 50%;
}

.heroRotatingCloudWrapper > .rotatingCloud {
  transform-origin: 44.5% 66.5%;
}

.footerRotatingCloudWrapper {
  transform-origin: 50%;
}

.footerRotatingCloudWrapper > .rotatingCloud {
  transform-origin: 68.5% 56.5%;
}

.rotatingCloud {
  animation: rotate 60s linear infinite;
}

.rotatingCloud:last-child {
  animation-duration: 90s;
}

/* Moon related classes */
.moonWrapper {
  composes: svg-transition-transform;
  transform-origin: 20% 70%;
}

.moon {
  composes: svg-transition-transform;
  transform-origin: center;
}

:global(.light) .moonWrapper {
  transform: scale(0.2) translate(20rem, -15rem) rotate(90deg);
}

:global(.light) .moon {
  transform: rotate(-90deg);
}

/* Mountain related classes */

.mountainGroup {
  composes: svg-transition-transform;
}

:global(.dark) .mountainGroup {
  transform: translateY(60%);
}

g.mountainGroup {
  transition-delay: 100ms;
}

g.mountainGroup ~ .mountainGroup {
  transition-delay: 200ms;
}

g.mountainGroup path:nth-child(3n + 1) {
  fill: hsl(336, 36%, 55%);
}

g.mountainGroup ~ .mountainGroup path:nth-child(3n + 1) {
  fill: hsl(282, 20%, 40%);
}

.mountainGroup path:nth-child(3n) {
  fill: var(--shadow-black);
}

.mountainGroup path:nth-child(3n + 2),
.asteroid > g:nth-child(2n) {
  fill: var(--white);
}

/* Full page clouds */
.fullPageSvg {
  overflow: visible;
  width: min(240vw, 160rem);
  grid-area: 1 / -1;
  will-change: transform;
}

.fullPageClouds {
  composes: fullPageSvg;
  --rm-translation: max(20vw, 48%);
}

.fullPageAsteroids {
  composes: fullPageSvg;
  --rm-translation: max(20vw, 30%);
}

:global(.no-preference .visible) .fullPageSvg > g {
  transition: transform calc(2.5 * var(--duration)) var(--transition);
  will-change: transform;
}

:global(.animate-now) .moveToLeft,
:global(.reduce-motion) .moveOnReduceMotion .moveToLeft {
  transform: translateX(calc(-1 * var(--rm-translation)));
}

:global(.animate-now) .moveToRight,
:global(.reduce-motion) .moveOnReduceMotion .moveToRight {
  transform: translateX(var(--rm-translation));
}

:global(.light) .fullPageAsteroids .moveToLeft,
:global(.dark) .fullPageClouds .moveToLeft {
  transform: translateX(min(-35vw, -66.67%));
}

:global(.light) .fullPageAsteroids .moveToRight,
:global(.dark) .fullPageClouds .moveToRight {
  transform: translateX(max(35vw, 56%));
}

/* Asteroid related classes */
.asteroids {
  composes: svg-transition-opacity;
  animation: panScreen 120s linear infinite -10s;
}

.asteroids ~ .asteroids {
  animation-delay: -80s;
}

.asteroid {
  animation: rotate 30s linear infinite;
}

/* Offset second group of asteroids */
.asteroids ~ .asteroids > .asteroid {
  animation-delay: -10s;
}

.asteroid > g:nth-child(2n + 1) {
  fill: var(--space-rock-grey);
}

/* Cloud (non-rotating) related classes */
.footerClouds > path {
  animation: panScreen 180s linear infinite;
}

.footerClouds :nth-child(2n + 1) {
  animation-duration: 240s;
  animation-delay: -200s;
}

.footerClouds :nth-child(3n - 2) {
  animation-duration: 140s;
  animation-delay: -60s;
}

/* Surface related classes */
.surface,
.backgroundImage {
  --surface-l1: var(--clr-footer);
  --surface-l2: var(--green);
  --surface-l3: hsl(119, 53%, 37%);
  --surface-l4: hsl(121, 62%, 32%);
  --surface-l5: hsl(123, 64%, 28%);
  --surface-l6: hsl(125, 66%, 24%);
  --surface-l7: hsl(125, 66%, 20%);
}

:global(.dark) .surface,
:global(.dark) .backgroundImage {
  --surface-l1: var(--clr-footer);
  --surface-l2: hsl(225, 24%, 80%);
  --surface-l3: hsl(227, 24%, 73%);
  --surface-l4: hsl(227, 24%, 66%);
  --surface-l5: hsl(227, 23%, 59%);
  --surface-l6: hsl(226, 23%, 52%);
  --surface-l7: hsl(227, 23%, 46%);
}

.yellowTrees {
  --primary-1: hsl(44, 96%, 61%);
  --shadow: hsl(33, 90%, 56%);
  --trunk: hsl(34, 69%, 32%);
}

.greenTrees {
  --primary-1: hsl(118, 36%, 34%);
  --primary-2: hsl(118, 36%, 44%);
  --shadow: var(--shadow-black);
  --trunk: hsl(33, 63%, 23%);
}

.yellowTrees,
.greenTrees {
  composes: svg-transition-transform;
  transform-origin: 50% 125%;
}

:global(.dark) .yellowTrees,
:global(.dark) .greenTrees {
  transform: scaleY(0);
}

.greenTrees path:nth-child(5n),
.yellowTrees > path:nth-child(3n) {
  fill: var(--shadow);
}

.greenTrees > path:nth-child(5n + 1),
.greenTrees > path:nth-child(5n + 3),
.yellowTrees > path:nth-child(3n + 1) {
  fill: var(--primary-1);
}

.greenTrees > path:nth-child(5n + 2) {
  fill: var(--primary-2);
}

.greenTrees path:nth-child(5n + 4),
.yellowTrees > path:nth-child(3n + 2) {
  fill: var(--trunk);
}

.footerClouds {
  composes: svg-transition-opacity;
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  inset: 0 -5vw;
  width: 110vw;
  height: 100%;
}

.craters {
  composes: svg-transition-opacity;
}

:global(.light) .asteroids,
:global(.light) .asteroid,
:global(.dark) .footerClouds > path {
  animation-play-state: paused;
}

:global(.light) .asteroid,
:global(.dark) .footerClouds,
:global(.light) .craters {
  opacity: 0;
}

/* House related styles */
.house,
.man {
  composes: svg-transition-opacity;
  --delay: calc(0.25 * var(--duration));
}

:global(.light) .man,
:global(.dark) .house {
  opacity: 0;
}

.smoke > path {
  animation: smokeAnimaton calc(var(--duration) * 3) linear infinite;
}

/* Cow related classses */
.footerCowWrapper {
  composes: svg-transition-transform;
  transform-origin: 48%;
}

.footerCow {
  composes: svg-transition-transform;
}

:global(.dark) .footerCowWrapper {
  animation: cowSway 15s linear infinite;
}

:global(.dark) .footerCow {
  transform: translateY(-50%);
}

.cowShadow {
  composes: svg-transition-transform;
  transform-origin: 49.5% 84.5%;
}

:global(.dark) .cowShadow {
  transform: scale(0.4);
}

.cowFrontLeg {
  composes: svg-transition-transform;
  transform-origin: 47.8% 80.7%;
  --rotate: 60deg;
}

.cowBackLeg {
  composes: svg-transition-transform;
  transform-origin: 51.4% 80.7%;
  --rotate: -60deg;
}

:global(.dark) .cowFrontLeg,
:global(.dark) .cowBackLeg {
  transform: rotate(var(--rotate));
}

.rocketWrapper {
  composes: svg-transition-opacity;
  --mult: 5.5;
  --transition: cubic-bezier(0, 1, 0, 1);
}

:global(.light) .rocketWrapper {
  --mult: 3.5;
  --transition: cubic-bezier(1, 0, 1, 0);
  opacity: 0;
}

.rocket,
.rocketShadow {
  composes: svg-transition-transform;
  --transition: cubic-bezier(0.2, 0.75, 0.1, 0.85);
}

.rocketShadow {
  transform-origin: 37% 81%;
}

:global(.light) .rocket {
  transform: translateY(-100%);
}

:global(.light) .rocketShadow {
  transform: scale(0);
}

:global(.light) .rocket,
:global(.light) .rocketShadow {
  --transition: cubic-bezier(0.8, 0.2, 0.8, 0.2);
}

.rocketFlames,
.rocketSmoke {
  --transition: cubic-bezier(0.2, 0.8, 0.1, 0.95);
  opacity: 0;
  transition: transform calc(var(--mult, 3) * var(--duration)) var(--transition) var(--t-delay, 0ms),
    opacity var(--duration) var(--transition) var(--o-delay, calc(var(--mult, 3) * var(--duration)));
}

.rocketFlames {
  transform-origin: 50% 128%;
}

.rocketSmoke {
  composes: smoke;
}

.rocketSmoke > path {
  animation-duration: var(--duration);
}

:global(.light) .rocketFlames,
:global(.light) .rocketSmoke {
  --transition: cubic-bezier(0.8, 0.05, 0.8, 0.2);
  --o-delay: 0ms;
  opacity: 1;
}

:global(.light) .rocketFlames {
  transform: scaleY(2.5);
}

:global(.light) .rocketSmoke {
  transform: translateY(-62.5%);
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes panScreen {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  1%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes smokeAnimaton {
  33% {
    transform: scale(1.3);
  }
  66% {
    transform: scale(0.7);
  }
}

@keyframes cowSway {
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

:global(.light) .asteroidLoading {
  display: none;
}

:global(.dark) .cloudLoading {
  display: none;
}
