/* Hero scene */
.svg {
  overflow: visible;
  width: min(100%, 40rem);
}

:global(.reduce-motion) .svg {
  --duration: 0;
}

.moonWrapper,
.moon,
.sun,
.earthWrapper,
.earth,
.cloudWrapper {
  transition: transform calc(3 * var(--duration)) var(--transition);
  will-change: transform;
}

.moonWrapper {
  transform-origin: 20% 70%;
  transform: scale(0.2) translate(20rem, -15rem) rotate(90deg);
}

.moon {
  transform-origin: center;
  transform: rotate(-90deg);
}

.moonBody {
  fill: var(--space-rock-grey);
}

.sun {
  transform-origin: 68% 18%;
  filter: drop-shadow(0 0 1rem var(--yellow-1));
}

.earthWrapper {
  transform-origin: 22% 0%;
}

.heroEarth {
  transform-origin: center;
}

.earth > path {
  fill: var(--green);
}

.earth > path:first-child {
  fill: var(--blue);
}

.cloudColour {
  fill: var(--cloud-white);
}

.rotatingCloudWrapper {
  transform-origin: center;
}

.rotatingCloud {
  transform-origin: 44.5% 66.5%;
  animation: cloud_rotation calc(60s * var(--speed, 1)) linear infinite;
}

.rotatingCloud:last-child {
  --speed: 1.5;
}

:global(.reduce-motion) .rotatingCloud {
  animation-play-state: paused;
}

:global(.dark) :where(.moonWrapper, .moon) {
  transform: none;
}

:global(.dark) .sun {
  transform: scale(0.33) rotate(-90deg);
}

:global(.dark) .earthWrapper {
  transform: scale(0.33) rotate(90deg);
}

:global(.dark) .cloudWrapper,
:global(.dark) .heroEarth {
  transform: rotate(-90deg);
}

@keyframes cloud_rotation {
  100% {
    transform: rotate(-360deg);
  }
}

/* Full page clouds */
.fullPageclouds {
  overflow: visible;
  width: min(240vw, 160rem);
}

:global(.no-preference) .fullPageclouds g {
  transition: transform calc(2.5 * var(--duration)) var(--transition);
}

:global(.animate-now) .moveToLeft,
:global(.reduce-motion) .aboutSection .moveToLeft {
  transform: translateX(min(-20vw, -45%));
}

:global(.animate-now) .moveToRight,
:global(.reduce-motion) .aboutSection .moveToRight {
  transform: translateX(max(20vw, 48%));
}

:global(.dark) .fullPageclouds .moveToLeft {
  transform: translateX(min(-35vw, -66.67%));
}

:global(.dark) .fullPageclouds .moveToRight {
  transform: translateX(max(35vw, 56%));
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-image: url('./footerBackground.svg');
  background-size: 100% 100%;
}

/* Footer scene */
.footerSvg {
  width: min(240vw, 160rem);
}

.footerSvg .asteroids > g:nth-child(2n + 1) {
  fill: var(--space-rock-grey);
}

.mountainGroup path:nth-child(3n + 2),
.asteroids > g:nth-child(2n) {
  fill: var(--white);
}

.yellowTrees > path:nth-child(3n + 1) {
  fill: #fbc73a;
}

.yellowTrees > path:nth-child(3n + 2) {
  fill: #8a5919;
}

.yellowTrees > path:nth-child(3n) {
  fill: #f4992b;
}

.greenTrees > path:nth-child(5n + 1),
.greenTrees > path:nth-child(5n + 3) {
  fill: #3a7638;
}

.greenTrees > path:nth-child(5n + 2) {
  fill: #4b9948;
}

.greenTrees path:nth-child(5n + 4) {
  fill: #603f16;
}

.mountainGroup path:nth-child(3n + 1) {
  fill: #b66586;
}

.mountainGroup ~ .mountainGroup path:nth-child(3n + 1) {
  fill: #6e517a;
}

.mountainGroup path:nth-child(3n),
.shadow,
.greenTrees path:nth-child(5n) {
  fill: var(--shadow-black);
}
