/* Hero scene */
.svg {
  overflow: visible;
  width: min(100%, 40rem);
}

:global(.reduce-motion) .svg {
  --duration: 0;
}

.moonWrapper,
.moon,
.sun,
.earthWrapper,
.earth,
.rotatingCloudWrapper,
.mountainGroup,
.backgroundMoutains,
.footerCow,
.footerCow .frontLeg,
.footerCow .backLeg,
.footerCowWrapper .shadow,
.footerSun,
.yellowTrees,
.greenTrees {
  transition: transform calc(3 * var(--duration)) var(--transition) var(--delay, 0ms);
  will-change: transform;
}

.moonWrapper {
  transform-origin: 20% 70%;
  transform: scale(0.2) translate(20rem, -15rem) rotate(90deg);
}

.moon {
  transform-origin: center;
  transform: rotate(-90deg);
}

.moonBody {
  fill: var(--space-rock-grey);
}

.sun {
  transform-origin: 68% 18%;
  filter: drop-shadow(0 0 1rem var(--yellow-1));
}

.earthWrapper {
  transform-origin: var(--t-origin, center);
}

.heroEarth {
  transform-origin: center;
}

.earth > path {
  fill: var(--green);
}

.earth > path:first-child {
  fill: var(--blue);
}

.cloudColour {
  fill: var(--cloud-white);
}

.rotatingCloudWrapper {
  transform-origin: var(--t-origin, center);
}

.rotatingCloud {
  transform-origin: var(--t-origin, center);
  animation: cloudRotation calc(60s * var(--speed, 1)) linear infinite;
}

.rotatingCloud:last-child {
  --speed: 1.5;
}

:global(.reduce-motion) .rotatingCloud {
  animation-play-state: paused;
}

:global(.dark) :where(.moonWrapper, .moon) {
  transform: none;
}

:global(.dark) .sun {
  transform: scale(0.33) rotate(-90deg);
}

:global(.dark) .earthWrapper {
  transform: scale(0.33) rotate(90deg);
}

:global(.dark) .rotatingCloudWrapper,
:global(.dark) .heroEarth {
  transform: rotate(-90deg);
}

/* Full page clouds */
.fullPageclouds {
  overflow: visible;
  width: min(240vw, 160rem);
}

:global(.no-preference) .fullPageclouds g {
  transition: transform calc(2.5 * var(--duration)) var(--transition);
}

:global(.animate-now) .moveToLeft,
:global(.reduce-motion) .aboutClouds .moveToLeft {
  transform: translateX(min(-20vw, -45%));
}

:global(.animate-now) .moveToRight,
:global(.reduce-motion) .aboutClouds .moveToRight {
  transform: translateX(max(20vw, 48%));
}

:global(.dark) .fullPageclouds .moveToLeft {
  transform: translateX(min(-35vw, -66.67%));
}

:global(.dark) .fullPageclouds .moveToRight {
  transform: translateX(max(35vw, 56%));
}

/* Footer scene */
.footerSvg {
  margin-left: 10%;
  width: min(200vw, 160rem);
  overflow: visible;
}

.asteroids {
  animation: cloudTranslation 180s linear infinite var(--delay, -10s);
}

.asteroid {
  transform-origin: var(--t-origin);
  animation: asteroidRotation 30s linear infinite;
}

.asteroids ~ .asteroids > .asteroid {
  animation-delay: -10s;
}

.asteroid > g:nth-child(2n + 1) {
  fill: var(--space-rock-grey);
}

.backgroundImage {
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 100%;
}

.footerEarth {
  transform-origin: bottom;
}

.footerSun {
  filter: drop-shadow(0 0 1rem var(--yellow-1));
}

:global(.light) .footerSun {
  transform: scale(0.33) translateX(30%);
}

.mountainGroup path:nth-child(3n + 2),
.asteroid > g:nth-child(2n) {
  fill: var(--white);
}

.yellowTrees > path:nth-child(3n + 1) {
  fill: #fbc73a;
}

.yellowTrees > path:nth-child(3n + 2) {
  fill: #8a5919;
}

.yellowTrees > path:nth-child(3n) {
  fill: #f4992b;
}

.greenTrees > path:nth-child(5n + 1),
.greenTrees > path:nth-child(5n + 3) {
  fill: #3a7638;
}

.greenTrees > path:nth-child(5n + 2) {
  fill: #4b9948;
}

.greenTrees path:nth-child(5n + 4) {
  fill: #603f16;
}

.mountainGroup {
  --delay: 100ms;
}

.mountainGroup ~ .mountainGroup {
  --delay: 200ms;
}

.mountainGroup path:nth-child(3n + 1) {
  fill: #b66586;
}

.mountainGroup ~ .mountainGroup path:nth-child(3n + 1) {
  fill: #6e517a;
}

.mountainGroup path:nth-child(3n),
.shadow,
.greenTrees path:nth-child(5n) {
  fill: var(--shadow-black);
}

:global(.light) .footerEarth {
  transform: translateX(10%) rotate(35deg);
}

.backgroundImage > path,
.surface path,
.craters path {
  transition: fill var(--duration) var(--transition);
  will-change: fill;
}

.footerClouds > path {
  animation: cloudTranslation calc(180s * var(--speed, 1)) linear infinite var(--delay, -30s);
}

.footerClouds :nth-child(2n + 1) {
  --speed: 1.5;
  --delay: -200s;
}

.footerClouds :nth-child(3n - 2) {
  --speed: 0.8;
  --delay: -60s;
}

:global(.light) .asteroids,
:global(.light) .asteroid,
:global(.dark) .footerClouds > path {
  animation-play-state: paused;
}

:global(.dark) .mountainGroup,
:global(.dark) .backgroundMoutains {
  transform: translateY(60%);
}

:global(.dark) .footerCow {
  transform: translateY(-50%);
  animation: cowSway 15s linear infinite;
}

:global(.dark) .footerCowWrapper .shadow {
  transform: translateX(30%) translateY(56%) scale(0.4);
}

.footerCow {
  transform-origin: 48%;
}

.footerCow .frontLeg {
  transform-origin: 47.8% 80.7%;
}

.footerCow .backLeg {
  transform-origin: 51.4% 80.7%;
}

:global(.dark) .footerCow .frontLeg {
  transform: rotate(60deg);
}

:global(.dark) .footerCow .backLeg {
  transform: rotate(-60deg);
}

.yellowTrees,
.greenTrees {
  transform-origin: bottom;
}

:global(.dark) .yellowTrees,
:global(.dark) .greenTrees {
  transform: translateY(25%) scaleY(0);
}

.smoke > path {
  transform-origin: var(--t-origin, center);
  animation: smokeAnimaton var(--smoke-duration, 1400ms) linear infinite var(--delay, 0s);
}

.rocket {
  --smoke-duration: 600ms;
  transition: transform var(--rocket-duration, 1000ms) var(--transition, cubic-bezier(0.54, 1.18, 0.71, 1.05)),
    opacity 200ms var(--transition, cubic-bezier(0.54, 1.18, 0.71, 1.05)) var(--o-delay, 0ms);
}

.rocket .flames,
.rocket .smoke {
  opacity: 0;
  animation: fadeOut 1000ms linear;
  --rocket-duration: 550ms;
}

.rocket .flames,
.rocket .smoke,
.rocket .shadow {
  transition: transform var(--rocket-duration, 1000ms) var(--transition, cubic-bezier(0.54, 1.18, 0.71, 1.05));
}

:global(.light) .rocket,
:global(.light) .rocket .flames,
:global(.light) .rocket .smoke,
:global(.light) .rocket .shadow {
  --transition: cubic-bezier(0.9, 0.03, 0.69, 0.22);
}

:global(.light) .rocket {
  transform: translateY(-80vh);
  --o-delay: 800ms;
  opacity: 0;
}

:global(.light) .rocket .flames,
:global(.light) .rocket .smoke {
  transform: translateY(5vh);
  animation: fadeIn 1000ms linear;
}

:global(.light) .rocket .shadow {
  transform: translateX(37.5%) translateY(177.5%) scale(0);
}

@keyframes cloudRotation {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes cloudTranslation {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  1%,
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

@keyframes asteroidRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes smokeAnimaton {
  33% {
    transform: scale(1.3);
  }
  66% {
    transform: scale(0.7);
  }
}

@keyframes cowSway {
  25% {
    rotate: 10deg;
  }
  75% {
    rotate: -10deg;
  }
}

@keyframes fadeIn {
  10%,
  90% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  10%,
  90% {
    opacity: 1;
  }
}
