.title,
.select {
  --drop-duration: 200ms;
  line-height: 1;
  width: var(--select-width, 100%);
  color: currentColor;
  border-radius: inherit;
  border: none;
  display: flex;
  z-index: 1;
}

.title svg,
.select svg {
  height: var(--select-svg-height, 1.8em);
  fill: currentColor;
}

.title:hover,
.title:focus-visible,
.label:hover,
.label:focus-visible {
  background-color: var(--inverse-hover);
}

.wrapper {
  border-radius: var(--br);
  --unit-x: var(--size-x, 0.375em);
  --unit-y: var(--size-y, 0.375em);
  position: relative;
}

.wrapper::before,
.wrapper::after,
.select::before,
.select::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: opacity var(--duration) var(--transition);
}

.wrapper::before,
.select::before {
  background-color: var(--black);
  outline: 0.175rem solid var(--white);
}

:global(.light) .wrapper::before,
:global(.light) .select::before {
  opacity: 0;
}

.wrapper::after,
.select::after {
  background-color: var(--white);
  outline: 0.175rem solid var(--black);
}

:global(.dark) .wrapper::after,
:global(.dark) .select::after {
  opacity: 0;
}

.select {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 110%;
  padding: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-25%);
  transition: opacity var(--drop-duration) var(--transition), transform var(--drop-duration) var(--transition);
}

.select input[type='radio'] {
  visibility: hidden;
}

.label {
  z-index: 1;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--unit-x) var(--unit-y);
  border-radius: inherit;
}

.title {
  z-index: 1;
  padding: var(--unit-y) calc(4 * var(--unit-x)) var(--unit-y) var(--unit-x);
  position: relative;
  text-align: left;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  inset: 50% 0.5em auto auto;
  border-left: var(--unit-x) solid transparent;
  border-right: var(--unit-x) solid transparent;
  transition: opacity var(--drop-duration) var(--transition);
}

.title::before {
  transform: translateY(-120%);
  border-bottom: var(--unit-x) solid currentColor;
  opacity: 0.35;
}

.title::after {
  transform: translateY(20%);
  border-top: var(--unit-x) solid currentColor;
}

.show .select {
  pointer-events: all;
  transform: translateY(5%);
  opacity: 1;
}

.label {
  display: flex;
}

.show .title::before {
  opacity: 1;
}

.show .title::after {
  opacity: 0.35;
}
