.title,
.select {
  --drop-duration: 200ms;
  line-height: 1;
  border-radius: 0.5rem;
  border: 0.175rem solid currentColor;
  width: var(--select-width, 100%);
  color: currentColor;
  background-color: var(--inverse);
  display: flex;
}

.title svg,
.select svg {
  height: var(--select-svg-height, 1.8em);
  fill: currentColor;
}

.title:hover,
.title:focus,
.label:hover,
.label:focus {
  background-color: var(--inverse-hover);
}

.wrapper {
  --unit-x: var(--size-x, 0.375em);
  --unit-y: var(--size-y, 0.375em);
  position: relative;
}

.select {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  top: 100%;
  padding: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-25%);
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition),
    opacity var(--drop-duration) var(--transition), transform var(--drop-duration) var(--transition);
  will-change: color, background-color, opacity, transform;
}

.select input[type='radio'] {
  visibility: hidden;
}

.label {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: var(--unit-x) var(--unit-y);
}

.title {
  padding: var(--unit-y) calc(4 * var(--unit-x)) var(--unit-y) var(--unit-x);
  position: relative;
  text-align: left;
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition),
    border var(--duration) var(--transition);
  will-change: color, background-color, border;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  inset: 50% 0.5em auto auto;
  border-left: var(--unit-x) solid transparent;
  border-right: var(--unit-x) solid transparent;
  transition: opacity var(--drop-duration) var(--transition);
  will-change: opacity;
}

.title::before {
  transform: translateY(-120%);
  border-bottom: var(--unit-x) solid currentColor;
  opacity: 0.35;
}

.title::after {
  transform: translateY(20%);
  border-top: var(--unit-x) solid currentColor;
}

.show .select {
  pointer-events: all;
  transform: translateY(5%);
  opacity: 1;
}

.label {
  display: flex;
}

.show .title::before {
  opacity: 1;
}

.show .title::after {
  opacity: 0.35;
}
