.card {
  composes: global(transition-transform);
  --duration: 250ms;
  display: grid;
  position: relative;
  isolation: isolate;
  scroll-margin-top: calc(10rem + var(--move-by, 0px));
}

:global(.reduce-motion) .card {
  --duration: 0;
}

:global(.reduce-motion) .card a {
  --duration: 300ms;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: scale(0.9, 0.33);
  transform-origin: 50% 20%;
  border-radius: var(--br);
  background-color: var(--card);
}

:global(.visible) .card::before {
  transition: transform var(--duration) var(--transition), opacity calc(0.5 * var(--duration)) var(--transition);
}

.card::after {
  content: attr(attr-index);
  position: absolute;
  right: 10%;
  font-weight: 600;
  color: var(--white);
  background-color: var(--black);
  padding: 0.5em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: transform var(--duration) var(--transition);
}

.card:focus-within::before,
.card:hover::before {
  transform: scale(1.2, 1);
}

.card:hover::after,
.card:focus-within::after {
  transform: translateX(100%);
}

.moveUp,
.moveDown {
  transform: translateY(var(--move-by, 0px));
}

h2.moveUp {
  transform: translateY(-60%);
}

.btn {
  font-size: 1.25em;
}

.front,
.back {
  grid-area: -1/-1;
}

.front {
  composes: global(transition-transform);
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: auto;
}

.card:focus-within .front,
.card:hover .front {
  transform: translateY(-33%) scale(0.6);
}

.front img {
  border-radius: var(--br);
  object-fit: cover;
  aspect-ratio: 5 / 6;
}

.frontTitle,
.subtitle {
  composes: global(transition-opacity);
  line-height: 1;
  margin-inline: 0.25em;
}

.subtitle {
  font-size: 0.75em;
  color: var(--hover);
}

.card:focus-within .frontTitle,
.card:hover .frontTitle,
.card:focus-within .subtitle,
.card:hover .subtitle {
  opacity: 0;
}

.back {
  composes: global(transition-transform-opacity);
  display: grid;
  place-items: center;
  text-align: center;
  gap: 1em;
  margin-top: 60%;
  opacity: 0;
  padding-bottom: 1em;
  pointer-events: none;
  transform: translateY(15%);
}

.card:focus-within .back,
.card:hover .back {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.backTitle {
  font-size: 1.67em;
}

.description {
  font-size: 0.89em;
  width: 110%;
}

.languages strong {
  display: block;
  font-variant-caps: small-caps;
  color: var(--hover);
  font-weight: 600;
  font-size: 0.6em;
}

.languages {
  columns: var(--columns, 3);
  column-rule: 1px solid var(--text);
}

.languages a:focus-visible {
  outline: none;
}

.languages a:focus-visible strong {
  outline: 0.2em solid var(--purple);
  outline-offset: 0.2em;
  border-radius: var(--br);
}

.icon {
  --a-duration: calc(4 * var(--duration));
  width: var(--size, 0.75em);
  overflow: visible;
  font-size: 3em;
}

.icon path {
  fill-opacity: 0;
  transform-origin: center;
  transition: transform var(--duration) var(--transition);
}

.icon path:not([stroke-width]) {
  stroke-width: 0.15em;
}

:global(.reduce-motion) .icon path {
  fill-opacity: 1;
}

:global(.no-preference) .card:focus-within .icon path,
:global(.no-preference) .card:hover .icon path {
  stroke-dasharray: 0 var(--dash-array, 1600);
  animation: borderMove var(--a-duration) var(--a-delay, 0ms) linear forwards,
    fillIcon var(--a-duration) calc(1.25 * var(--a-duration) + var(--a-delay, 0ms)) linear forwards;
}

a:focus-visible .icon path,
a .icon:hover path {
  transform: scale(1.2);
}

.languages :nth-child(2) .icon path {
  --a-delay: calc(0.33 * var(--a-duration));
}

.languages :nth-child(3) path {
  --a-delay: calc(0.66 * var(--a-duration));
}

@keyframes borderMove {
  0% {
    stroke-dasharray: 0 var(--dash-array, 1600);
  }
  100% {
    stroke-dasharray: var(--dash-array, 1600) var(--dash-array, 1600);
  }
}

@keyframes fillIcon {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}

.spotifyCard {
  --spotify-green: hsl(141, 76%, 48%);
  --progress: var(--white);
  --timeline: hsl(0, 0%, 37%);
  background-color: var(--card);
  border-radius: var(--br);
  position: relative;
}

.spotifyCard img {
  aspect-ratio: 1;
  border-radius: inherit;
}

.topTrackCard {
  composes: spotifyCard;
  aspect-ratio: 1;
  font-size: 0.5em;
  color: var(--white);
  overflow: hidden;
  cursor: pointer;
}

.topTrackCard:focus-visible,
.topTrackCard :focus-visible {
  outline-width: 0.1rem;
}

.topTrackCard:focus-within {
  cursor: default;
}

.lastPlayedCard {
  composes: spotifyCard;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  gap: 0.75em 1em;

  font-size: clamp(1em, 3.5vw, 1.2em);
}

.loadingBlock {
  --bg-from: var(--space-rock-grey);
  --bg-to: hsl(226, 21%, 93%);
  position: relative;
  overflow: hidden;
  height: var(--height, 1.25em);
  width: var(--width, inherit);
  opacity: 1;
  background-color: var(--bg-from);
  background: linear-gradient(90deg, var(--bg-from) 0%, var(--bg-to) 7%, var(--bg-to) 13%, var(--bg-from) 25%);
  background-size: 900%;
  background-position: 100% 0%;
  animation: loading-pulse 1.8s ease-in-out infinite;
}

:global(.dark) .loadingBlock {
  --bg-from: hsl(232, 23%, 20%);
  --bg-to: hsl(232, 23%, 16%);
}

@keyframes loading-pulse {
  0% {
    background-position: 100% 0%;
  }
  99.99% {
    background-position: -30% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.loadingBlock + .loadingBlock,
.loadingBlock + .loadingNowPlaying .loadingBlock {
  margin-top: var(--space, 0.25em);
}

.loadingTitle {
  composes: loadingBlock;
  grid-column: span 2;
  --width: 60%;
  --height: 1.5em;
}

.loadingSpotify {
  composes: loadingBlock;
  position: absolute;
  inset: 1em 1.25em auto auto;
  --width: 1.25em;
  border-radius: 999vmax;
}

.loadingImage {
  composes: loadingBlock;
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  border-radius: var(--br);
  --space: 0;
}

.loadingWrapper {
  display: grid;
  font-size: 0.67em;
  gap: 1ch;
}

.loadingNowPlaying {
  composes: loadingWrapper;
  grid-template-columns: 3ch 1fr 3ch;
  --height: 0.75em;
}

.loadingNowPlaying :nth-child(3) {
  border-radius: var(--br);
}

.loadingNowPlaying :first-child,
.loadingNowPlaying :nth-last-child(-n + 2) {
  grid-column: span 3;
  --space: 1em;
}

.loadingNowPlaying :last-child {
  --space: default;
  --width: 75%;
}

.loadingAudio {
  composes: loadingWrapper;
  grid-column: span 2;
  grid-template-columns: 6.67% 3ch 1fr 3ch 6.67%;
  align-items: center;
  --space: 0;
  margin-top: 0.5em;
}

.loadingAudio :first-child {
  border-radius: 999vmax;
  aspect-ratio: 1;
}

.loadingAudio :nth-child(3) {
  --height: 0.67em;
  border-radius: var(--br);
}

.loadingAudio :first-child,
.loadingAudio :last-child {
  --height: 1.852em;
}

:global(.light) .lastPlayedCard {
  --progress: var(--spotify-green);
}

.topTrackCard:focus-within .topTrackdetails {
  transform: translateY(0);
}

.spotifyLink:focus-visible {
  outline: none;
}

.spotifyLink:focus-visible svg {
  outline: 0.1rem solid var(--purple);
  outline-offset: 0.1rem;
  border-radius: 100vmax;
}

.topTrackCard .spotifyLink {
  grid-row: span 2;
  align-self: flex-end;
}

.lastPlayedCard .spotifyLink {
  position: absolute;
  inset: 1em 1.25em auto auto;
}

.closeButton {
  position: absolute;
  display: flex;
  padding: 0.125em;
  width: 1.25em;
  height: 1.25em;
  top: 0.625em;
  right: 0.75em;
  transition: opacity var(--duration) var(--transition);
  stroke: currentColor;
  fill: currentColor;
  filter: drop-shadow(0 0.05em 0.125em var(--black));
  opacity: 0;
}

.topTrackCard:focus-within .closeButton {
  opacity: 1;
}

.spotifySvg {
  composes: global(transition-transform);
  width: 1.25em;
}

.spotifyLink svg:hover {
  transform: scale(1.2);
}

.topTrackdetails {
  composes: global(transition-transform);
  position: absolute;
  display: grid;
  grid-template-columns: auto 1.25em;
  column-gap: 1em;
  inset: auto 0 -1px;
  padding: 15% 5% 5%;
  background-image: linear-gradient(transparent 5%, var(--black) 75%);
  transform: translateY(100%);
}

.text-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
}

.songTitle,
.artist {
  composes: text-ellipses;
  white-space: nowrap;
}

.songTitle {
  font-weight: 300;
}

.artist {
  font-size: 0.75em;
}

.heading {
  grid-column: span 2;
}

.details {
  composes: text-ellipses;
}

.details p {
  font-size: 0.67em;
}

.details .songTitle {
  font-size: 1em;
}

.details .artist {
  font-size: 0.85em;
}

.details .playedAt {
  font-weight: 300;
  margin-bottom: 1em;
  font-size: 0.6em;
}

.lastPlayedCard .controls {
  font-size: 1.3em;
}

.controls button {
  border-radius: 100vmax;
}

.currentlyPlaying {
  margin-top: 1em;
}

.progressArea {
  display: flex;
  align-items: center;
  gap: 0.25em;
  margin-bottom: 1em;
}

.progressBar {
  outline: none;
  background-color: var(--timeline);
  height: 0.25em;
  border-radius: 100vmax;
  overflow: hidden;
}

.progressBar::-moz-progress-bar {
  outline: none;
  background-color: var(--progress);
}

.progressBar::-webkit-progress-value {
  outline: none;
  background-color: var(--progress);
}

.controls {
  display: grid;
  grid-template-columns: 1em auto 1em;
  align-items: center;
  gap: 0.5em;
  margin-top: 0.25em;
  grid-column: 1 / -1;
}

.controls button {
  aspect-ratio: 1;
  line-height: 1;
}

.timelineWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
}

.timelineWrapper span {
  font-size: 0.4em;
}

.timeline {
  --shadow: 0 0 0 0.125em hsla(0, 0%, 98%, 0.42);
  -webkit-appearance: none;
  height: 0.25em;
  background-color: var(--timeline);
  border-radius: var(--br);
  background-size: 0% 100%;
  background-image: linear-gradient(var(--progress), var(--progress));
  background-repeat: no-repeat;
  margin: 0 0.25em;
  width: 100%;
}

/* Also why do these need to all be done separately!!! */
.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100vmax;
  cursor: pointer;
  opacity: 0;
  background-color: var(--progress);
}

.timeline::-moz-range-thumb {
  -webkit-appearance: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100vmax;
  cursor: pointer;
  opacity: 0;
  background-color: var(--progress);
  border: none;
}

.timeline::-ms-thumb {
  -webkit-appearance: none;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100vmax;
  cursor: pointer;
  opacity: 0;
  background-color: var(--progress);
}

.timeline::-webkit-slider-thumb:hover {
  background-color: var(--spotify-green);
  box-shadow: var(--shadow);
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: var(--spotify-green);
  box-shadow: var(--shadow);
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: var(--spotify-green);
  box-shadow: var(--shadow);
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}
