.card {
  --br: 0.5rem;
  --duration: 250ms;
  display: grid;
  flex: 1 1 25%;
  position: relative;
  isolation: isolate;
  transition: transform var(--duration) var(--transition);
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: scale(0.9, 0.4);
  transform-origin: 50% 20%;
  border-radius: var(--br);
  background-color: var(--white);
  transition: transform calc(var(--duration)) var(--transition), opacity calc(0.5 * var(--duration)) var(--transition);
  will-change: transform, opacity;
}

.card::after {
  content: attr(attr-index);
  position: absolute;
  font-size: 0.5em;
  right: 10%;
  font-weight: 800;
  color: var(--white);
  background-color: var(--black);
  padding: 0.5em 0.5em 0.75em;
  clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
  transition: transform calc(var(--duration)) var(--transition);
  will-change: transform;
}

.card:hover::before {
  transform: scale(1.2, 1);
}

.card:hover::after {
  transform: translateX(100%);
}

.moveUp {
  transform: translateY(-15%);
}

.moveDown {
  transform: translateY(10%);
}

.front,
.back {
  grid-area: -1/-1;
}

.front {
  display: flex;
  flex-direction: column;
  gap: 0.075em;
  transition: transform var(--duration) var(--transition);
}
.card:hover .front {
  transform: translateY(-33%) scale(0.6);
}

.front img {
  border-radius: var(--br);
  object-fit: cover;
  aspect-ratio: 5 / 6;
}

.frontTitle,
.subtitle {
  margin-inline: 0.25rem;
  transition: opacity var(--duration) var(--transition);
  will-change: opacity;
}

.frontTitle {
  font-size: 0.6em;
}

.subtitle {
  font-size: 0.35em;
  font-weight: 600;
  color: var(--hover);
}

.card:hover .frontTitle,
.card:hover .subtitle {
  opacity: 0;
}

.back {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 0.4em;
  margin-block: 55% 0.5em;
  opacity: 0;
  transform: translateY(15%);
  pointer-events: none;
  transition: transform var(--duration) var(--transition), opacity calc(0.5 * var(--duration)) var(--transition);
  will-change: transform, opacity;
}

.card:hover .back {
  opacity: 1;
  transform: translateY(0);
  pointer-events: initial;
}

.backTitle {
  font-size: 0.7em;
  line-height: 1;
}

.description {
  font-size: 0.4em;
}

.languages > p {
  text-transform: uppercase;
  color: var(--hover);
  font-weight: 600;
  font-size: 0.25em;
}

.languages {
  columns: 3;
  column-rule: 1px solid var(--black);
  margin-inline: auto;
}

.btn {
  font-size: 0.5em;
}

.icon {
  --a-duration: calc(4 * var(--duration));
  width: var(--size, 0.75em);
  overflow: visible;
  cursor: pointer;
}

.icon path {
  fill-opacity: 0;
  transform-origin: center;
  stroke-width: 0.15em;
  transition: transform var(--duration) var(--transition);
  will-change: transform;
}

:global(.reduce-motion) .icon path {
  fill-opacity: 1;
}

.card:hover .icon path {
  stroke-dasharray: 0 1600;
  animation: borderMove var(--a-duration) var(--a-delay, 0ms) linear forwards,
    fillIcon var(--a-duration) calc(1.5 * var(--a-duration) + var(--a-delay, 0ms)) linear forwards;
}

.icon:hover path {
  transform: scale(1.2);
}

.icon:nth-of-type(2) path {
  --a-delay: calc(0.5 * var(--a-duration));
}

.icon:nth-of-type(3) path {
  --a-delay: var(--a-duration);
}

@keyframes borderMove {
  0% {
    stroke-dasharray: 0 1600;
  }
  100% {
    stroke-dasharray: 1600 1600;
  }
}

@keyframes fillIcon {
  0% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 1;
  }
}
