/* Generic Nav */
nav {
  position: relative;
  z-index: 1;
  font-size: clamp(1.125rem, 3.5vw, 1.375rem);
  display: flex;
  justify-content: space-evenly;
  max-width: 70rem;
  margin: 0 auto;
}

.nav ul {
  display: contents;
}

.nav a {
  text-decoration: none;
}

.nav .links {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 1em;
  position: fixed;
  inset: 3em 7.5vw 7em;
  opacity: 0;
}

.nav .links.expanded {
  opacity: 1;
  pointer-events: all;
  transition: opacity var(--duration) var(--transition) calc(1.5 * var(--duration));
}

.nav .link {
  font-size: 1.1em;
  display: flex;
}

.nav li {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.hamburgerContainer {
  display: none;
  border-radius: var(--br);
  outline: 0.175rem solid currentColor;
  background-color: var(--inverse);
  padding: 0.167em 0.375em;
}

.hamburgerContainer:hover {
  background-color: var(--inverse-hover);
}

.hamburger {
  height: 1em;
  margin: auto;
}

@media only screen and (max-width: 60rem) {
  .nav .links {
    display: flex;
    color: var(--black);
    pointer-events: none;
    font-size: 1.5em;
  }

  .nav .hamburgerContainer {
    display: initial;
  }
}

/* Darkmode toggle */
.stars *,
.moon,
.plane,
.cloud,
.fillWhite {
  fill: var(--white);
}

.cloud > path {
  transition: transform var(--duration) var(--transition);
}

.toggle {
  --is-light: 1;
  --transition: cubic-bezier(0.22, 0.61, 0.36, 1);

  fill: hsl(212, 97%, 68%);
  height: 2em;
  cursor: pointer;
}

:global(.reduce-motion) .toggle {
  --duration: 0;
}

.outline {
  stroke: var(--white);
  stroke-width: 0.625rem;
  /* transition: fill var(--duration) var(--transition), stroke var(--duration) var(--transition); */
}

.stars {
  composes: global(transition-opacity);
}

.stars * {
  opacity: calc(1 - var(--is-light));
  transition: opacity calc(0.4 * var(--duration)) var(--transition),
    transform calc(0.4 * var(--duration)) var(--transition) calc(0.8 * var(--duration));
  transform-origin: 50% 50%;
}

.sun {
  composes: global(transition-transform-opacity);
  opacity: var(--is-light);
  fill: var(--yellow-2);
}

.moon {
  composes: global(transition-opacity);
  opacity: calc(1 - var(--is-light));
}

.cloud > path:first-child {
  transition-delay: 100ms;
}

.plane {
  stroke: var(--white);
  animation: plane 2000ms 1 300ms;
  opacity: 0;
}

.moonMask {
  composes: global(transition-transform);
  fill: hsl(230, 23%, 46%);
}

:global(.dark) .toggle {
  --is-light: 0;
  fill: hsl(223, 48%, 25%);
}

:global(.dark) .outline {
  stroke: hsl(230, 23%, 56%);
}

:global(.dark) .stars * {
  transition: transform var(--duration) var(--transition);
}

:global(.dark) .stars *:first-child {
  transform: translateX(-2.5rem);
}

:global(.dark) .stars *:last-child {
  transform: translateX(2.5rem);
}

:global(.dark) .sun {
  transform: translate(-8.75rem, -1.25rem);
}

:global(.dark) .moon {
  transform: translateX(-5.625rem);
}

:global(.dark) .cloud > path {
  opacity: 1;
  animation: cloudToDark var(--duration);
  transform: translateY(6.25rem);
}

/* Prevent cloud flash on initial load */
:global(.dark):global(.no-animate) .cloud > path {
  opacity: 0;
}

:global(.reduce-motion) .plane,
:global(.dark) .plane {
  animation: unset;
}

:global(.reduce-motion) .stars *,
:global(.reduce-motion) .cloud > path:first-child {
  transition-delay: 0ms;
}

:global(.dark) .moonMask {
  transform: translateX(-8.75rem);
}

@keyframes plane {
  0% {
    opacity: 1;
    transform: translateX(-25rem);
  }
  50% {
    transform: translateX(0);
  }
  80% {
    opacity: 1;
  }
}

@keyframes cloudToDark {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2.5rem);
  }
}

/* Animation Select and language */

:global(.reduce-motion) .button,
.strikethrough {
  stroke: currentColor;
}

.animationSelect,
.languageSelect {
  --select-svg-height: 1.5em;
}

.languageSelect {
  --select-width: 7.5ch;
}

.languageSelect button,
.animationSelect button {
  --unit-y: 0.167em;
}

.languageSelect button span,
.animationSelect button span {
  display: none;
}

@media only screen and (min-width: 40rem) {
  .animationSelect {
    --select-width: 21.5ch;
  }

  .animationSelect button {
    --unit-y: unset;
  }

  .animationSelect button span {
    display: inherit;
  }

  .animationSelect button svg {
    display: none;
  }
}
