@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;0,900;1,800&display=swap');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition);
  background-color: var(--background);
  color: var(--text);
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 1.5rem;
  margin-bottom: min(7.5vh, 5rem);
}

main {
  display: grid;
  gap: min(15vh, 10rem);
  place-items: center;
  place-content: center;
  overflow: clip;
  margin-bottom: min(15vh, 10rem);
}

footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: -1;
  overflow-x: clip;
}

footer div {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  grid-auto-flow: column;
  width: 90vw;
  color: var(--inverse);
}

footer ul {
  display: flex;
  gap: 4ch;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  margin-inline: auto;
  font-size: clamp(3.125rem, 10vw, 5rem);
  place-items: center;
  width: min(90vw, 80rem);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  /* Your default theme */
  --white: #fafafa;
  --cloud-white: #fafafae6;
  --white-hover: hsl(0, 0%, 83%);
  --black: #181a26;
  --shadow-black: #181a2633;
  --black-hover: hsl(231, 23%, 27%);
  --sky-blue: hsl(212, 97%, 85%);
  --yellow-1: #feef90;
  --yellow-2: #f2d202;
  --blue: #0030a8;
  --red: #db0028;
  --green: #419e3d;
  --purple: #5b1be4;

  --cow-helmet: #ababab33;
  --cow-pink: #e0705c;
  --cow-yellow: #d6aa51;
  --skin: #ffe2c7;
  --grey-hc: #acb1c9;
  --grey-bc: #8d96b4;
  --grey-shadow: hsl(227, 11%, 75%);
  --grey-mb: #dadde7;
  --grey-dc: #ccced7;
  --space-rock-grey: hsl(226, 21%, 88%);

  --background: var(--sky-blue);
  --text: var(--black);
  --hover: var(--black-hover);
  --inverse: var(--white);
  --inverse-hover: var(--white-hover);

  --duration: calc(var(--mult, 1) * 300ms);
  --transition: cubic-bezier(0.22, 0.61, 0.36, 1);
}

:root.dark {
  --background: var(--black);
  --text: var(--white);
  --hover: var(--white-hover);
  --inverse: var(--black);
  --inverse-hover: var(--black-hover);
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

/* 
Used primarily to prevent animations on first page load
Enabled for 1ms initially, then removed in App.tsx
*/
.no-animate {
  --duration: 0;
}

.reduce-motion * {
  animation-play-state: paused !important;
  transition-delay: 0ms !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
