@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&display=swap');

/* Theme */
:root {
  --white: hsl(0, 0%, 98%);

  --white-hover: hsl(0, 0%, 83%);
  --black: hsl(231, 23%, 12%);

  --black-hover: hsl(231, 23%, 27%);
  --sky-blue: hsl(212, 97%, 85%);
  --yellow-1: hsl(52, 98%, 78%);
  --yellow-2: hsl(52, 98%, 48%);
  --blue: hsl(223, 100%, 33%);
  --red: hsl(349, 100%, 43%);
  --green: hsl(118, 44%, 43%);
  --purple: hsl(259, 79%, 50%);
  --clr-footer: hsl(117, 36%, 49%);

  --card: var(--white);
  --background: var(--sky-blue);
  --text: var(--black);
  --hover: var(--black-hover);
  --inverse: var(--white);
  --inverse-hover: var(--white-hover);

  --cloud-white: hsla(0, 0%, 98%, 0.902);
  --space-rock-grey: hsl(226, 21%, 88%);
  --shadow-black: hsla(231, 23%, 12%, 0.2);

  --duration: calc(var(--mult, 1) * 300ms);
  --transition: cubic-bezier(0.22, 0.61, 0.36, 1);
}

:root.dark {
  --background: var(--black);
  --text: var(--white);
  --hover: var(--white-hover);
  --inverse: var(--black);
  --inverse-hover: var(--black-hover);
  --clr-footer: hsl(227, 23%, 88%);
  --card: var(--black-hover);
}

/* Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 5.625rem;
}

a {
  text-decoration: none;
  color: currentColor;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* General styles */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition);
  will-change: color, background-color;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  place-content: space-between;
}

main {
  display: grid;
  gap: min(10vh, 10rem);
  margin-bottom: min(10vh, 10rem);
  place-items: center;
  place-content: center;
  overflow-x: clip;
  font-size: clamp(1.125rem, 3.5vw, 1.375rem);
}

main::before,
main::after {
  content: url('/cloud.svg');
  position: fixed;
  z-index: 1;
  transition: transform calc(2 * var(--duration)) var(--transition);
  will-change: transform;
}

.dark main::before {
  content: url('/asteroid1.svg');
}

.dark main::after {
  content: url('/asteroid2.svg');
}

.reduce-motion main:not(.no-delay)::before,
.reduce-motion main:not(.no-delay)::after {
  display: none;
}

main::before {
  inset: -15vh -55vh auto;
  transform: translateY(-107.5vmax);
}

main::after {
  inset: auto -55vh -5vh;
  transform: translateY(107.5vmax);
}

.dark main::after {
  inset: auto -52.5vh -5vh;
}

main.cover.cover::before,
main.cover.cover::after,
main.loading.loading::before,
main.loading.loading::after {
  transform: translate(0);
}

.no-preference main > section,
.no-preference footer {
  opacity: 0;
  transition: opacity var(--duration) var(--transition);
  will-change: opacity;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding-top: 1rem;
  margin-bottom: 5vh;
}

main:not(.cover) > section,
main:not(.cover) + footer {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: center;
  overflow-x: clip;
  flex-direction: column;
  isolation: isolate;
}

.footerImage {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.footerText {
  /* Margin - prevent rounding artifacts */
  margin-top: -4px;
  display: grid;
  padding: 0 5vw 1em;
  color: var(--inverse);
  background-color: var(--clr-footer);
  z-index: 1;
  gap: 0.25em;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  justify-content: space-between;
  text-align: center;
  transition: color var(--duration) var(--transition), background-color var(--duration) var(--transition);
  will-change: color, background-color;
}

.footerText ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em 4ch;
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  margin-inline: auto;
  place-items: center;
  width: min(90vw, 80rem);
}

strong {
  font-weight: 600;
}

@media only screen and (min-width: 60rem) {
  main::before {
    inset: -15vw -7.5vw;
    transform: translateX(107.5vmax);
  }

  main::after {
    inset: 15vw -7.5vw;
    transform: translateX(-107.5vmax);
  }

  .dark main::before {
    inset: -18.5vw 0vw;
  }

  .dark main::after {
    inset: 18.5vw 0vw;
  }

  .footerText {
    text-align: start;
    padding: 0 15vw 1.25em;
  }

  .footerText ul {
    flex-direction: row;
  }
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

/* 
Used primarily to prevent animations on first page load
Enabled for 1ms initially, then removed in App.tsx
*/
.no-animate {
  --duration: 0;
}

.no-animate,
.reduce-motion * {
  animation-play-state: paused !important;
  transition-delay: 0ms !important;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
