.heroSection {
  gap: 0.25em 1em;
  padding-inline: 0.25em;
  max-width: 80rem;
}

.title {
  font-size: 1em;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.03rem;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.5em;
  letter-spacing: -0.015rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.intro {
  font-size: 0.33em;
  text-align: center;
  max-width: 32ch;
  margin-block: 1rem;
}

.btn {
  font-size: clamp(1.5rem, 4.8vw, 1.75rem);
}

.projectSection {
  gap: 20vh;
}

.cloudWrapper {
  place-self: start center;
  isolation: isolate;
  display: grid;
  height: 120%;
}

.projectTitle,
.clouds {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.projectTitle {
  place-self: start center;
  position: sticky;
  margin-top: 3rem;
  top: 33vh;
  z-index: -1;
  font-size: 0.75em;
  font-weight: 800;
}

.clouds {
  overflow: visible;
  width: min(120vw, 160rem);
}

:global(.no-preference) .clouds path {
  transition: transform calc(2.5 * var(--duration)) var(--transition) calc(140ms - var(--delay, 0ms));
}

:global(.dark):global(.no-preference) .clouds path {
  transition: transform calc(2.5 * var(--duration)) var(--transition) var(--delay, 0ms);
}

:global(.dark) .clouds path:nth-child(-n + 3) {
  transform: translateX(min(-33vw, -60%));
}

:global(.dark) .clouds path:nth-child(n + 4) {
  transform: translateX(max(26vw, 40%));
}

.projects {
  display: flex;
  width: min(100%, 80rem);
  margin: auto;
  justify-content: space-between;
}

.card {
  font-size: 0.5em;
  padding: 1em 0.5em;
  background: var(--grey-dc);
}

.card p {
  font-size: 0.5em;
  max-width: 25ch;
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-columns: minmax(min-content, 1fr) 1fr;
    min-height: 50vh;
    /* padding-inline: 0; */
  }

  .subtitle {
    margin-bottom: 0;
  }

  .intro {
    max-width: 40ch;
    font-size: 0.25em;
    margin-top: 0;
  }

  .svgScene {
    grid-row: 1 / span 4;
    grid-column: 2;
  }
}
