.heroSection {
  scroll-margin-top: 10rem;
  font-size: clamp(1.125rem, 3.5vw, 1.875rem);
  gap: 0.5em 5em;
}

.title {
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.03rem;
  font-size: 3.2125em;
}

.subtitle {
  letter-spacing: -0.015rem;
  margin-bottom: 1rem;
}

.intro {
  text-align: center;
  max-width: 32ch;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: clamp(1.125rem, 2.5vw, 0.7em);
}

.btn {
  font-size: clamp(1.5rem, 3vw, 0.85em);
}

.aboutSection,
.projectSection {
  place-content: center;
}

.projectSection {
  scroll-margin-top: -10vh;
  gap: min(10vh, 10rem);
}

.aboutSection {
  scroll-margin-top: 0;
}

.cloudWrapper {
  place-self: start center;
  isolation: isolate;
  display: grid;
  pointer-events: none;
  z-index: 11;
}

.projectSection .cloudWrapper {
  height: calc(100% + min(10vh, 10rem));
}

.projectTitle,
.aboutContent,
.cloudWrapper {
  grid-area: 1 / 1;
}

.projectTitle,
.aboutTitle {
  z-index: -1;
  font-weight: 700;
  font-size: 2.5em;
}

:global(.reduce-motion) .projectTitle {
  --duration: 0;
}

.projectTitle {
  composes: global(transition-transform);
  place-self: start center;
  position: sticky;
  margin-block: 3rem;
  top: 33vh;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(75vw, 18em));
  justify-content: center;
  gap: 2em 4em;
  width: min(90vw, 80rem);
  font-size: 1.125rem;
  margin-bottom: 2.5%;
}

.aboutContent {
  display: grid;
  place-items: start;
  gap: 2em;
  width: min(90vw, 80rem);
}

.aboutContent h3 + p {
  --flow-spacer: 0;
}

.aboutContent a {
  --flow-spacer: 2.5em;
}

.aboutContent h3 {
  margin-bottom: 0.25em;
}

.aboutTitle {
  margin-top: 2em;
  text-align: center;
  grid-column: 1 / -1;
}

.aboutContent h3 {
  line-height: 1;
}

.aboutContent ol,
.aboutContent ul {
  padding-left: 1.5ch;
  margin-top: calc(var(--flow-spacer, 1em) * 0.66);
}

.aboutContent ol ::marker,
.aboutContent ul ::marker {
  font-weight: 600;
}

.aboutContent li {
  margin-top: calc(var(--flow-spacer, 1em) * 0.33);
}

:global(.reduce-motion) .spotifyList {
  --duration: 0;
}

.spotify {
  composes: global(flow);
  grid-row: span 2;
}

.spotifyList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  gap: 1.25%;
  aspect-ratio: 1;
  padding: 0;
}

.spotifyList > li {
  isolation: isolate;
  list-style: none;
  position: relative;
  z-index: 0;
  /* Required z-index transition otherwise cards drop behind others when shrinking */
  transition: transform var(--duration) var(--transition), z-index var(--duration) linear;
}

.spotifyList > li:focus-within {
  transition-duration: var(--duration), 0ms;
  transform: scale(318%);
  z-index: 1;
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-columns: minmax(min-content, 1fr) 1fr;
    min-height: 50vh;
  }

  .heroSection {
    row-gap: 0.1em;
    grid-template-columns: auto 1fr;
  }

  .projectSection {
    scroll-margin-top: -25em;
  }

  .title {
    margin-top: 12.5%;
  }

  .subtitle {
    margin-bottom: 0;
  }

  .intro {
    margin-top: 0;
  }

  :lang('en') .intro {
    max-width: 40ch;
  }

  .svgScene {
    grid-row: 1 / span 4;
    grid-column: 2;
  }

  .aboutContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    margin-bottom: 12.5%;
  }
}
