.heroSection {
  gap: 0.25em 1em;
}

.title {
  font-size: 1.2em;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.03rem;
  white-space: nowrap;
}

.subtitle {
  font-size: 0.6em;
  letter-spacing: -0.015rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.intro {
  font-size: 0.4em;
  text-align: center;
  max-width: 32ch;
  margin-block: 1rem;
}

.btn {
  font-size: clamp(1.5rem, 4.8vw, 1.75rem);
}

.aboutSection,
.projectSection {
  place-content: center;
}

.projectSection {
  gap: min(15vh, 10rem);
}

.cloudWrapper {
  place-self: start center;
  isolation: isolate;
  display: grid;
}

.projectSection .cloudWrapper {
  height: calc(100% + min(10vh, 6.67rem));
}

.projectsCloud,
.projectTitle,
.aboutContent,
.cloudWrapper {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.projectTitle,
.aboutTitle {
  z-index: -1;
  font-size: 0.8em;
  font-weight: 700;
}

.projectTitle {
  place-self: start center;
  position: sticky;
  margin-block: 3rem;
  top: 33vh;
}

.projects {
  --num-per-row: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em 2em;
  justify-content: center;
  width: min(75vw, 80rem);
  font-size: 0.75em;
  flex-wrap: wrap;
}

.aboutContent {
  display: grid;
  gap: 0.5em 1em;
  width: min(90vw, 80rem);
}

.aboutTitle {
  text-align: center;
  grid-column: 1 / -1;
}

.aboutContent h3 {
  text-align: center;
  font-size: 0.4em;
  line-height: 1;
}

.aboutContent div {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}
.aboutContent p + h3 {
  margin-top: 0.5em;
}

.aboutContent p {
  font-size: 0.25em;
}

.aboutContent ol {
  margin-block: 0;
}

.aboutContent li {
  font-size: 0.25em;
}

@media only screen and (min-width: 60rem) {
  .hero {
    grid-template-columns: minmax(min-content, 1fr) 1fr;
    min-height: 50vh;
  }

  .heroSection {
    row-gap: 0.1em;
    grid-template-columns: auto 1fr;
  }

  .title {
    margin-top: 12.5%;
  }

  .subtitle {
    margin-bottom: 0;
  }

  .intro {
    max-width: 40ch;
    font-size: 0.3em;
    margin-top: 0;
  }

  .svgScene {
    grid-row: 1 / span 4;
    grid-column: 2;
  }

  .aboutContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn {
    margin-bottom: 12.5%;
  }

  .projects {
    --num-per-row: 3;
    flex-direction: row;
    font-size: 0.5em;
  }
}
